/* HeroesComponent's private CSS styles */
.arrQuestions {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 27em;
  }
  .arrQuestions li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .arrQuestions li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .arrQuestions li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .arrQuestions li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .arrQuestions .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .arrQuestions .question_cont {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#7d848b;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width: 15em;
  }
  
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;    
    background-color: rgb(128, 128, 128) !important;
    color: black;
    left: -1px;
    top: -1px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }


  table, th, td 
{
    margin: 5px 0;
    border: solid 1px #333;
    padding: 4px 4px;
    font: 15px Verdana;
}
th {
    font-weight:bold;
}