
<h2>Leader Board</h2>

<nz-table #nzTable [nzData]="solustions">
             <thead>
              <tr>
                <th nzCustomFilter>
                  Question ID
                </th>
                <th nzCustomFilter> Rangking</th>
                
                <th nzCustomFilter>User Id
                    
                </th>
                <th nzCustomFilter>Language</th>
                <th nzCustomFilter>Complexity</th>
              </tr>
              
            </thead>
            <tbody>
              <tr *ngFor="let solution of solutions; let i = index">
                <td>
                        {{solution.id.problemId}}
                </td> 
                <td>
                        {{i+1}}
                </td> 
                <td>
                        {{solution.id.userId}}
                </td> 
                <td>
                        {{solution.language}}
                </td> 
                <td> 
                        {{solution.publicSpaceComplexity}}
                </td>


              <td>
                <div class="custom">
                  <button type="button" class="btn btn-outline-secondary" placement="top"
                       ngbPopover="{{solution.code}}"  popoverTitle="Code">
                       Show the code
                  </button>
               </div> 
              </td>
                

                
             
              </tr>
            </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <!-- <div class="search-box"> -->
    <!-- <input type="text" nz-input placeholder="Search Id" [(ngModel)]="searchValue" /> -->
    <!-- <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
      Search
    </button> -->
    <!-- <button nz-button nzSize="small" (click)="reset()">Reset</button> -->
  <!-- </div> -->
</nz-dropdown-menu>
<div></div>>