<h3>Password at least has 8 digit. And must contain 1 Upper case, 1 digit and 1 symbol.</h3>


<p>Username: <input type ="text" id = "username" [(ngModel)]="user_signup_userName"/></p>
<p>Email: <input type ="text" id = "username" [(ngModel)]="user_signup_email"/></p>
<p>Password: <input type ="text" id = "password" [(ngModel)]="user_signup_password"/></p>


<button (click)="doSignup()">Sign up</button>
<button (click)="getreturn_userName()">getreturn_userName</button>
<!-- <button (click)="getreturn_token(return_token)">getreturn_token</button>
<button (click)="getToken()">getToken</button>
<button (click)="getLoggedInUser(return_token)">sendToken</button> -->

<!-- <button (click)= "print_token()">printToken</button> -->
